@import url(http://fonts.googleapis.com/css?family=Lato:700,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

/*5701f278c4c8a60b00bcb2e8*/
@font-face {
    font-family: 'novaregular';
    src: url('../fonts/nova_alt_regular-webfont.eot');
    src: url('../fonts/nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_regular-webfont.svg#novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:active,
a:focus{
	outline:0 !important;
}

.form-control{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}


.no-padding{
	padding:0;
}

.img-responsive{
	width:100%;
}

.abdominoplastia{
	background-color: #04AFE3;
}

.plasmacapilar{
	background-color: #01ACBE;
}

.implantesdentales{
	background-color: #27A0E3;
}

.mamoplastia{
	background-color: #FCB131;
}

.ortodoncia{
	background-color: #01ABA8;
}

.rinoplastia{
	background-color: #00D0BA;
}

.minilifting{
	background-color: #3464BC;
}

.protesis{
	background-color: #27A9E0;
}

.bg{
	position: absolute;
}

.abdominoplastia .bg{
	border-bottom: 40px solid #0189B9;
}

.plasmacapilar .bg{
	border-bottom: 40px solid #013646;
}

.implantesdentales .bg{
	border-bottom: 40px solid #1A96C0;
}

.mamoplastia .bg{
	border-bottom: 40px solid #F29820;
}

.minilifting .bg{
	border-bottom: 40px solid #285895;
}

.ortodoncia  .bg{
	border-bottom: 40px solid #008B88;
}

.rinoplastia .bg{
	border-bottom: 40px solid #00AC9E;
}

.protesis .bg{
	border-bottom: 40px solid #186395;
}

.img-bg{
    width:auto;
    height:50%;
    left: -250px;
}

.abdominoplastia .hero{
	color:#FFF;
	font-size: 14px;
	margin-top: 125px;
}

.implantesdentales .hero{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-shadow: 1px 2px 3px #666;
	padding-left: 13%;
	color:#FFF !important;
}

.mamoplastia .hero{
	color:#FFF;
	font-size: 1.16em;
	margin-top: 35%;
	text-shadow: 1px 2px 3px #666;
	font-weight: bold;
}

.ortodoncia .hero{
	color:#FFF;
	font-size: 1.16em;
	margin-top: 6%;
}

.titulo{
	margin-top: 120px;
}

.abdominoplastia .titulo {
    margin-top: 35%;
}

.abdominoplastia .titulodos h2 {
    font-size: 22px;
}

.implantesdentales .titulodos {
    margin-top: 5%;
}

.rinoplastia .titulodos {
    margin-top: 5%;
}

.abdominoplastia .titulodos {
    margin-top: 5%;
}

.abdominoplastia .titulo h2{
	color:#FFF;
}

.implantesdentales .titulodos h2{
	color:#FFF;
	text-shadow: 1px 2px 3px #FFB800;
}

.protesis .titulodos{
	margin-top: 22px;
}

.protesis .titulodos h2{
	color:#FFF;
	text-shadow: 1px 2px 3px #F6931E;
}

.minilifting .titulodos {
    margin-top: 5%;
}

.minilifting .titulotres {
	margin-top: 50px;
}

.titulo h2{
	color:#1B0C00;
	text-transform: uppercase;
	margin-top: 94px;
}

.titulo ul > li > i{
	color:#219CD8;
	margin-right: 4px;
}

.implantesdentales .titulodos p{
	color:#FFF;
}

.titulo p{
	font-family: 'Montserrat', sans-serif;
	color:#1B0C00;
	text-transform: uppercase;
	margin-top:20px;
}

.titulo p > br{
	display:none;
}

.titulodos{
	margin-top: 120px;
}

.mamoplastia .titulodos {
    margin-top: 84px;
}

.titulodos h2{
	color:#FFF;
	text-transform: uppercase;
	margin-top: 35px;
	text-shadow: 1px 2px 3px #666;
}

.implantesdentales .titulodos h3{
	color: #FFF;
	text-shadow: 1px 0px 1px #666;
}

.titulodos h3{
	color:#FFDA00;
	text-shadow: 1px 2px 3px #666;
}

.implantesdentales .titulodos ul > li {
	color:#FFF;
}

.implantesdentales .titulodos ul > li > i{
	color:#FFF;
}

.titulodos ul > li {
	color:#FFF;
}

.titulodos ul > li > i{
	color:#FFF;
	margin-right: 4px;
}

.titulodos p{
	font-family: 'Helvetica', sans-serif;
	color:#FFF;
	margin-top:20px;
}

.titulodos p > br{
	display:none;
}

.titulodos p.programar{
	text-transform: uppercase;
	font-weight: bold;
}

.abdominoplastia .incluyelist{
	color:#FFF;
}

.abdominoplastia .incluyelist i{
	color:#FFF;
}

.abdominoplastia .herotwo{
	color:#FFF;
}

.abdominoplastia .subhero a {
    color: #FFF;
}

.protesis .subhero a {
    color: #FFF;
}

.minilifting .subhero a {
    color: #FFF;
}

.formclinica{
	margin-top: 50px;
	background-color: #FFF;
	padding: 2px 0 10px;
	margin-bottom: 40px;
}

.informhero{
	text-align:center;
	font-weight: bold;
	color:#27A0E3;
}

.btn-form, .btn-form:hover, .btn-form:active, .btn-form:focus{
	background-color: #259DDA;
	color:#FFF;
}

.abdominoplastia .btn-form, .abdominoplastia .btn-form:hover, .abdominoplastia .btn-form:active, .abdominoplastia .btn-form:focus{
	background-color: #FF3B40;
	color:#FFF;
}

.implantesdentales .btn-form, .implantesdentales .btn-form:hover, .implantesdentales .btn-form:active, .implantesdentales .btn-form:focus{
	background-color: #FFB800;
	color:#FFF;
}

.rinoplastia .btn-form, .rinoplastia .btn-form:hover, .rinoplastia .btn-form:active, .rinoplastia .btn-form:focus{
	background-color: #FC4F00;
	color:#FFF;
}

.minilifting .btn-form, .minilifting .btn-form:hover, .minilifting .btn-form:active, .minilifting .btn-form:focus{
	background-color: #FE9400;
	color:#FFF;
}

.fondogris{
	background-color: #E6E6E6;
	padding:10px 0;
	border-bottom: 2px solid #4D8AAA; 
}

.certificado-container{
	margin-top:30px;
}

.supersalud{
   padding: 0 10%;
   margin: 10px 0 5px;
}

.certone{
   padding: 0 3%;
	margin: 14px 0 0px;
}

.subhero{
	font-family: 'novaregular';
	font-size:1.0em; 
	color:#FFF;
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.subhero a{
	color:#000;
	text-decoration: none;
}

.implantesdentales .subhero a, .rinoplastia .subhero a{
	color:#FFF;
}

.mamoplastia .subhero a {
    color: #FFF;
}

.ortodoncia .subhero a {
    color: #FFF;
}

.medioshero{
	position: relative;
	font-family: 'novaregular';
	text-transform: uppercase;
	font-weight: 900;
	color:#FFF;
}

.medioshero:after {
  position: absolute;
  bottom: -25px;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  margin-left: -7.5px;
  z-index: 1;
}

.abdominoplastia .medioshero:after {
  border-color: #04AFE3 transparent transparent;
}

.implantesdentales .medioshero:after {
  border-color: #27A0E3 transparent transparent;
}

.rinoplastia .medioshero:after {
  border-color: #00D0BA transparent transparent;
}

.mamoplastia .medioshero::after {
    border-color: #FCB131 transparent transparent;
}

.minilifting .medioshero:after {
  border-color: #3464BC transparent transparent;
}

.protesis .medioshero:after {
  border-color: #27A9E0 transparent transparent;
}

.mediosdepago{
	background-color: #FFF;
	padding: 70px 0 30px;
}

.mediosdepago img{
	margin-bottom: 25px;
}

.redes-container{
	background-color: #FFF;
}

.redes{
	color:#1C9BD6;
	background-color: #FFF;
	padding:20px 0;
}

.redes p{
	font-size: 20px;
}

.redes ul{
    margin: 15px auto;
	text-align: center;
}

.redes ul > li {
	background-color:#00A5C5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 10px;
}

.redes ul > li.facebook {
	padding: 5px 11px 4px;
}

.redes ul > li.instagram {
	padding: 5px 9px 4px;
}

.redes ul > li.twitter {
	padding: 5px 9px 4px;
}

.redes ul > li > a {
	color:#FFF;
	font-size: 1.1em;
}

.abdominoplastia  .redes{
	background-color: #04AFE3;
	color:#FFF;
}

.implantesdentales .redes{
	background-color: #27A0E3;
	color:#FFF;
}

.rinoplastia  .redes{
	background-color: #00D0BA;
	color:#FFF;
}

.mamoplastia  .redes{
	background-color: #FCB131;
	color:#FFF;
}

.minilifting  .redes{
	background-color: #3464BC;
	color:#FFF;
}

.protesis .redes{
	background-color: #27A9E0;
	color:#FFF;
}

.protesis .redes ul > li, .abdominoplastia .redes ul > li , .implantesdentales .redes ul > li, .rinoplastia .redes ul > li, .mamoplastia .redes ul > li, .minilifting .redes ul > li  {
	background-color:#FFF;
	margin: 0 5px;
}

.abdominoplastia .redes ul > li > a {
	color: #27A0E3;
}

.implantesdentales .redes ul > li > a {
	color: #27A0E3;
}

.rinoplastia .redes ul > li > a {
	color: #00D0BA;
}

.mamoplastia .redes ul > li > a {
	color: #FCB131;
}

.minilifting .redes ul > li > a {
	color: #3464BC;
}

.protesis .redes ul > li > a {
	color: #27A9E0;
}

.footer{
	background-color: #00AFE8;
}

.subfooter{
	background-color: #018FC1;
	color: #FFF;
}

.abdominoplastia .footer, .abdominoplastia .subfooter{
	background-color: #008CBB;
}

.implantesdentales .footer, .implantesdentales .subfooter{
	background-color: #1A96C0;
}

.rinoplastia .footer, .rinoplastia .subfooter{
	background-color: #00AC9F;
}

.mamoplastia .footer, .mamoplastia .subfooter{
	background-color: #F29820;
}

.minilifting .footer, .minilifting .subfooter{
	background-color: #275995;
}

.protesis .footer, .protesis .subfooter{
	background-color: #186395;
}

.abdominoplastia .flecha{
	position: absolute;
	width:40%;
	bottom: 0;
	right: 10%;
}

.implantesdentales .flecha{
	position: absolute;
	width: 50%;
	bottom: 16%;
	right: -48%;
}

.mamoplastia .flecha{
	position: absolute;
	width: 50%;
	bottom: -3%;
	right: -10%;
}


.ortodoncia .flecha{
	position: absolute;
	width: 50%;
	bottom: -16%;
	right: -10%;
}

@media (min-width: 768px) {
	
	.img-bg{
        width:100%;
        height:auto;
    }

	.titulo{
		margin-top: 220px;
	}

	.titulo p{
		margin-bottom: 70px;
	}

	.titulo p > br{
		display:inline-block;
	}

	.titulodos{
		margin-top: 235px;
	}
	
	.mamoplastia .titulodos {
	    margin-top: 100px;
		margin-bottom: 50px;
	}

	.protesis .titulodos{
		margin-top: 55px;
	}

	.titulodos p{
		margin-bottom: 25px;
	}

	.titulodos p > br{
		display:inline-block;
	}

	.titulohero{
		margin-top: 80px;
	}
	
	.formclinica{
		margin-top: 150px;
	}
	
	.formclinica .form-group{
		padding: 0px;
	}

	.mamoplastia .formclinica{
		margin-top: 300px;
	}

	.heromargin{
		margin-top:50px;	
	}


	.abdominoplastia .titulo {
	    margin-top: 14%;
	}

	.mamoplastia .hero {
	    margin-top: 30%;
	    font-weight: bold;
	}

	.subfooter h3 {
    	font-size: 22px;
	}
}


@media (min-width: 1920px) {
	.mamoplastia .titulodos {
    	margin-top: 145px;
    }

    .mamoplastia .hero {
    	margin-top: 80%;
	}
}