@import url(http://fonts.googleapis.com/css?family=Lato:700,400);

html,body{
	height: 100%;
	font-family:'Lato', sans-serif;
}

@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio-regular-webfont.eot');
    src: url('../fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-regular-webfont.woff2') format('woff2'),
         url('../fonts/antonio-regular-webfont.woff') format('woff'),
         url('../fonts/antonio-regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novablack';
    src: url('../fonts/nova_alt_black-webfont.eot');
    src: url('../fonts/nova_alt_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_black-webfont.woff') format('woff'),
         url('../fonts/nova_alt_black-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_black-webfont.svg#novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novabold';
    src: url('../fonts/nova_alt_bold-webfont.eot');
    src: url('../fonts/nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_bold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_bold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_bold-webfont.svg#novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novaextrabold';
    src: url('../fonts/nova_alt_extrabold-webfont.eot');
    src: url('../fonts/nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_extrabold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_extrabold-webfont.svg#novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novalight';
    src: url('../fonts/nova_alt_light-webfont.eot');
    src: url('../fonts/nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_light-webfont.woff') format('woff'),
         url('../fonts/nova_alt_light-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_light-webfont.svg#novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novaregular';
    src: url('../fonts/nova_alt_regular-webfont.eot');
    src: url('../fonts/nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_regular-webfont.svg#novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novasemibold';
    src: url('../fonts/nova_alt_semibold-webfont.eot');
    src: url('../fonts/nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_semibold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_semibold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_semibold-webfont.svg#novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novathin';
    src: url('../fonts/nova_alt_thin-webfont.eot');
    src: url('../fonts/nova_alt_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_thin-webfont.woff') format('woff'),
         url('../fonts/nova_alt_thin-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_thin-webfont.svg#novathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.no-padding { 
	padding: 0px; 
}

.img-responsive{
	width: 100%;


}

.layer { 
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}
.titulo { 
	font-family: 'novabold';
	color:#FFF;
	margin-top: 40px;
	margin-bottom: 40px;
}
.parrafo { 
	font-family: 'antonioregular';
	font-size:1.5em; 
	color:#FFF;
	margin-top: 40px;
	margin-bottom: 40px;
}
.condiciones { 
	font-family: 'novaregular';
	font-size:1.0em; 
	color:#FFF;
	margin-top: 40px;
	margin-bottom: 40px;
}
.azul { 
	background-color: #3DB8F1;
}

.form-header{
	text-transform: uppercase;
	color:#FFF;
	background-color: #34A2D7;
	border-bottom:5px solid #007DB3;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom: 0px;
}

.form-header span{
	font-weight: 700;
}

.formulario { 
	background-color: #FFF;
	padding: 50px 100px;

}

a,
a:hover,
a:active,
a:focus{
	outline:0 !important;
}

.container-fluid {
    padding-right: 109px;
    padding-left: 109px;
}



.bg{
	height:100%;
	background: url(../img/bg-parpados.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}
.footer{
	background-color: #34A2D7;
}
.social{
	margin-top: 70px;
	margin-bottom: 40px;
}
.social2{
	margin-top: 30px;
	margin-bottom: 40px;
}