@import url(http://fonts.googleapis.com/css?family=Lato:400,300);

html,body{
	height: 100%;
}

@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio-regular-webfont.eot');
    src: url('../fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-regular-webfont.woff2') format('woff2'),
         url('../fonts/antonio-regular-webfont.woff') format('woff'),
         url('../fonts/antonio-regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novablack';
    src: url('../fonts/nova_alt_black-webfont.eot');
    src: url('../fonts/nova_alt_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_black-webfont.woff') format('woff'),
         url('../fonts/nova_alt_black-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_black-webfont.svg#novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novabold';
    src: url('../fonts/nova_alt_bold-webfont.eot');
    src: url('../fonts/nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_bold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_bold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_bold-webfont.svg#novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novaextrabold';
    src: url('../fonts/nova_alt_extrabold-webfont.eot');
    src: url('../fonts/nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_extrabold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_extrabold-webfont.svg#novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novalight';
    src: url('../fonts/nova_alt_light-webfont.eot');
    src: url('../fonts/nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_light-webfont.woff') format('woff'),
         url('../fonts/nova_alt_light-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_light-webfont.svg#novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novaregular';
    src: url('../fonts/nova_alt_regular-webfont.eot');
    src: url('../fonts/nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_regular-webfont.woff') format('woff'),
         url('../fonts/nova_alt_regular-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_regular-webfont.svg#novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novasemibold';
    src: url('../fonts/nova_alt_semibold-webfont.eot');
    src: url('../fonts/nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_semibold-webfont.woff') format('woff'),
         url('../fonts/nova_alt_semibold-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_semibold-webfont.svg#novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novathin';
    src: url('../fonts/nova_alt_thin-webfont.eot');
    src: url('../fonts/nova_alt_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nova_alt_thin-webfont.woff') format('woff'),
         url('../fonts/nova_alt_thin-webfont.ttf') format('truetype'),
         url('../fonts/nova_alt_thin-webfont.svg#novathin') format('svg');
    font-weight: normal;
    font-style: normal;
}


a,
a:hover,
a:active,
a:focus{
	outline:0 !important;
}

.no-padding{
	padding:0;
}

.container-fluid {
    padding-right: 109px;
    padding-left: 109px;
}

.navbar-default{
	background-color: #FAFAFA;
	border-bottom:3px solid #00AFE1;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	min-height: 95px;
	font-family: 'antonioregular';
	margin-bottom: 0px;
}

.navbar-brand {
	width: 333px;
	margin-top: 9px;
}
.telefono-container{
	width:346px;
	margin-top: 8px;
	margin-bottom:8px;
	border-left: 2px solid #C9C9C9;
	padding-top: 5px;
}

.telefono{
	width:45px;
	float:left;
	margin-left:44px;
	margin-top: 5px;
}

.telefono-text{
	width:250px;
	float:right;
	color:#36A9E0;
	font-size: 1.5em;
}

.bg{
	height:100%;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.layer{
	height:100%;
	background-color: rgba(0,0,0,0.5);
}

.titulo{
	margin-top:0;
	color:#FFF;
}