
RewriteEngine On 
RewriteRule ^mamoplastia$ mamoplastia.html [NC,L]
RewriteRule ^abdominoplastia$ abdominoplastia.html [NC,L]
RewriteRule ^implantesdentales$ dentales.html [NC,L]
RewriteRule ^prueba$ mamoplastiados.html [NC,L]
