
RewriteEngine On 
RewriteRule ^abdominoplastia$ abdominoplastia.html [NC,L]
RewriteRule ^blefaroplastia$ blefaroplastia.html [NC,L]
RewriteRule ^mamoplastia$ mamoplastia.html [NC,L]
RewriteRule ^implantesdentales$ implantes.html [NC,L]

